:root {
  --color1: #42032c;
  --color2: #d36b00;
  --color3: #b6b3ae;
  --color4: #e6d2aa;
  --color5: #f1efdc;
}
body{
      background-color: var(--color3);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template: 100px 1fr/1fr;
}

.nav {
  background-color: var(--color2);
  grid-column: 1/-1;
  grid-row: 1/2;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-div {
  display: flex;
  align-items: center;
}
.logo-div #logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 10px;
  font-size: 3rem;
}

.logo-div i {
    font-size: 3rem;
}

.main-body {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

.books-shelf{

}

.add-new-button-div{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.add-new-button-div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#form-div{
    display: "";
    background-color: rgba(0, 0, 0,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

}

#addBookForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color5);
    opacity: 0.8;
    width: 50%;
    height: 90vh;
    border-radius: 10px;
}

#addBookForm label{
    font-size: 20px;
    font-weight: bolder;
}

.input-div{
    width: 90%;
    margin: 10px 0;
}

#addBookForm input{
    font-size: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.checkbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
